@{
    ViewBag.Title = "About The Owners";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<main class="about">
    <div class="container">
        <section class="grid info">
            <div class="column-xs-12 column-md-1">
                <div class="about">
                    @*<h1 class="section-heading">About The Owners</h1>*@
                </div>
            </div>
            <div class="column-xs-12 column-md-4">
                 <img src="~/Content/images/photo7.jpeg" class="img" />
            </div>
            <div class="column-xs-12 column-md-7">
                <div class="intro">
                    <h2>The Brado family opened the Bike Shop in the 1985.</h2>
                    <p>My grandfather has always loved bicyles and once he retired he decided to open this shop.</p>
                    <p>From childrens bicycles to mountain bike we carry it all.</p>
                    <p>My father and brother offer repairs and customization to your bike.</p>
                </div>
            </div>
            <div class="column-xs-12 column-md-7">
                <blockquote>
                    <h3>"Life is like riding a bicycle. To keep your balance you must keep moving." - Albert Einstein</h3>
                </blockquote>
            </div>
            <div class="column-xs-12 column-md-5">
                <img src="~/Content/images/photo1.jpeg" class="img" />
            </div>
        </section>
    </div>
</main>
<footer>
    <div class="container">
        <section class="grid">
            <div class="column-xs-12">
                
            </div>
        </section>
    </div>
</footer>