@{
    ViewBag.Title = "SalesOrders Home";
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=" device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>The Bike Shop</title>
</head>
<body>
    <img src="~/Content/images/photo4.jpeg" style="height: 350px; width: 850px; margin-left: 5em;" />
    <p>
        Our bike shop opened in 1985 when my grandfather decided to persue his love of bicycles when he retired.
        The shop is located on main street which makes it easy to find. From children bikes to mountain bikes you
        will always find what you are looking for at the Bike Shop.
    </p>

    <p>
        We have a wide slection of bikes, tires and other bicycle equipment. Need help transporting your bike?
        There are many bike racks for your car to purchase. Looking for a new pair of biking gloves?
        We have a wide variety of appearl for men, women and children. Have something you need that we don't have in store?
        We can easily ship it to your or feel free to order and pickup in store.
    </p>

    <p>
        The Bike shop also offers repairs and customization for your bicylce. Just give us a call or stop in.
        We will be more than happy to help!
    </p>
</body>
</html>